<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992757822483-i5sdmdr8l8p55306ad17iadbpkbjrpat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992757822483-i5sdmdr8l8p55306ad17iadbpkbjrpat</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>992757822483-89doedg7amjhi4pm36vrersp08lm80cs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQIFtCFwgjD9nqgSG-DRTf2uBnWpILshU</string>
	<key>GCM_SENDER_ID</key>
	<string>992757822483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prabhatech.mingle</string>
	<key>PROJECT_ID</key>
	<string>datingapp-f7b21</string>
	<key>STORAGE_BUCKET</key>
	<string>datingapp-f7b21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992757822483:ios:156eb280da02b770533be6</string>
</dict>
</plist>